.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span a {
  text-size-adjust: 100%;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  font-family: "LATAM Sans", "Trebuchet MS", sans-serif;
  font-weight: 700;
  text-transform: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin-block: 0px;
  margin-inline: 0px;
  padding-block: 0px;
  padding-inline: 0px;
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: "inherit";
}
